In [110]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import numpy as np
import re

In [111]:
df= pd.read_csv('glassdoor1.csv')
df2=df
df3=df

In [112]:
df2

,Unnamed: 0,Company Name,Job Title,Job Tocation,Ratings,Salary,Links,Skills
0,0,Larsen & Toubro Infotech Limited,Data Science,Mumbai,3.8,₹5L - ₹8L (Glassdoor Est.),https://www.glassdoor.co.in/partner/jobListing...,"['Job Location Mumbai', '', '', 'Job Descripti..."
1,1,Deloitte,Senior Analyst- Research & Insights- Data Scie...,Hyderābād,4.1,₹5L - ₹8L (Glassdoor Est.),https://www.glassdoor.co.in/partner/jobListing...,"['Job Location Bhopal', '', '', 'Job Descripti..."
2,2,Flairmid Software Pvt Ltd,Junior Data Scientist,Pune,None,₹2L (Employer Est.),https://www.glassdoor.co.in/partner/jobListing...,"['Job Location Katha Baddi', '', '', 'Job Desc..."
3,3,Shell,Associate Data Scientist,Chennai,4.1,₹10L - ₹20L (Glassdoor Est.),https://www.glassdoor.co.in/partner/jobListing...,"['', ""At Boeing, we innovate and collaborate t..."
4,4,Brimming Grace Capital Pvt Ltd,Data Scientist Intern,Gurgaon,None,₹7L - ₹15L (Employer Est.),https://www.glassdoor.co.in/partner/jobListing...,['Our client Successful SA technology group is...
...,...,...,...,...,...,...,...,...
895,895,L'Oreal,Associate Data Scientist,Mumbai,None,₹8L - ₹18L (Glassdoor Est.),https://www.glassdoor.co.in/partner/jobListing...,['Job Title:\nData Scientist - Data Science\nJ...
896,896,Alpha Net Consulting,Data Scientist/Machine Learning,India,4.1,₹6L - ₹14L (Employer Est.),https://www.glassdoor.co.in/partner/jobListing...,"[""About the Role\n\nNumerator is a data and te..."
897,897,Visa,"Sr. Data Scientist, Visa Consulting and Analytics",Bangalore,5,₹3L - ₹5L (Employer Est.),https://www.glassdoor.co.in/partner/jobListing...,"['Hello', 'There are job openings for Data Sci..."
898,898,prwatech technologies,Artificial Intelligence Internship,Pune,4,₹2L - ₹7L (Glassdoor Est.),https://www.glassdoor.co.in/partner/jobListing...,['Shape Your Future With Us\nGeneral Re Corpor...
899,899,Tanishq Enterprises pvt ltd,Data Science Intern,Pune,4.4,₹4L - ₹6L (Glassdoor Est.),https://www.glassdoor.co.in/partner/jobListing...,['A Natural Language Processing (NLP) expert w...

In [114]:
df3.replace('None', np.nan)

,Unnamed: 0,Company Name,Job Title,Job Tocation,Ratings,Salary,Links,Skills
0,0,Larsen & Toubro Infotech Limited,Data Science,Mumbai,3.8,₹5L - ₹8L (Glassdoor Est.),https://www.glassdoor.co.in/partner/jobListing...,"['Job Location Mumbai', '', '', 'Job Descripti..."
1,1,Deloitte,Senior Analyst- Research & Insights- Data Scie...,Hyderābād,4.1,₹5L - ₹8L (Glassdoor Est.),https://www.glassdoor.co.in/partner/jobListing...,"['Job Location Bhopal', '', '', 'Job Descripti..."
2,2,Flairmid Software Pvt Ltd,Junior Data Scientist,Pune,NaN,₹2L (Employer Est.),https://www.glassdoor.co.in/partner/jobListing...,"['Job Location Katha Baddi', '', '', 'Job Desc..."
3,3,Shell,Associate Data Scientist,Chennai,4.1,₹10L - ₹20L (Glassdoor Est.),https://www.glassdoor.co.in/partner/jobListing...,"['', ""At Boeing, we innovate and collaborate t..."
4,4,Brimming Grace Capital Pvt Ltd,Data Scientist Intern,Gurgaon,NaN,₹7L - ₹15L (Employer Est.),https://www.glassdoor.co.in/partner/jobListing...,['Our client Successful SA technology group is...
...,...,...,...,...,...,...,...,...
895,895,L'Oreal,Associate Data Scientist,Mumbai,NaN,₹8L - ₹18L (Glassdoor Est.),https://www.glassdoor.co.in/partner/jobListing...,['Job Title:\nData Scientist - Data Science\nJ...
896,896,Alpha Net Consulting,Data Scientist/Machine Learning,India,4.1,₹6L - ₹14L (Employer Est.),https://www.glassdoor.co.in/partner/jobListing...,"[""About the Role\n\nNumerator is a data and te..."
897,897,Visa,"Sr. Data Scientist, Visa Consulting and Analytics",Bangalore,5,₹3L - ₹5L (Employer Est.),https://www.glassdoor.co.in/partner/jobListing...,"['Hello', 'There are job openings for Data Sci..."
898,898,prwatech technologies,Artificial Intelligence Internship,Pune,4,₹2L - ₹7L (Glassdoor Est.),https://www.glassdoor.co.in/partner/jobListing...,['Shape Your Future With Us\nGeneral Re Corpor...
899,899,Tanishq Enterprises pvt ltd,Data Science Intern,Pune,4.4,₹4L - ₹6L (Glassdoor Est.),https://www.glassdoor.co.in/partner/jobListing...,['A Natural Language Processing (NLP) expert w...

In [115]:
df3 = df3.dropna(subset=['Job Title'])

In [116]:
df3=df3.drop_duplicates()

In [117]:
df3.reset_index(drop=True, inplace=True)

In [118]:
df3.shape

(900, 8)

In [119]:
df3['Salary'].value_counts()

₹5L - ₹8L (Glassdoor Est.)                   70
₹2L - ₹3L (Employer Est.)                    35
₹4L - ₹6L (Glassdoor Est.)                   35
₹2L (Employer Est.)                          35
₹3L - ₹5L (Employer Est.)                    35
₹6L - ₹14L (Employer Est.)                   35
₹8L - ₹18L (Glassdoor Est.)                  35
₹5L - ₹8L (Employer Est.)                    35
₹2L - ₹7L (Glassdoor Est.)                   35
₹5L - ₹15L (Employer Est.)                   35
₹6L - ₹15L (Glassdoor Est.)                  35
₹692.31 - ₹923.08 Per Hour(Employer Est.)    35
₹7L - ₹15L (Employer Est.)                   35
₹10L - ₹20L (Glassdoor Est.)                 35
₹2L - ₹5L (Glassdoor Est.)                   35
₹2L - ₹6L (Glassdoor Est.)                   34
₹5T (Employer Est.)                          34
₹8L - ₹35L (Glassdoor Est.)                  34
₹10L - ₹50L (Employer Est.)                  34
₹7T (Employer Est.)                          34
₹5L - ₹14L (Glassdoor Est.)                  34
₹80T (Employer Est.)                         34
₹10L - ₹16L (Employer Est.)                  34
₹15L (Employer Est.)                         34
₹9T - ₹18T (Employer Est.)                   33
₹12T (Employer Est.)                          1
Name: Salary, dtype: int64

In [120]:
df3['Salary'] = df3['Salary'].str.replace('\n', '')
df3['Salary'] = df3['Salary'].str.replace(',', '')
df3['Salary'] = df3['Salary'].str.replace('₹','')
df3['Salary'] = df3['Salary'].str.replace('(Employer Est.)','')
df3['Salary'] = df3['Salary'].str.replace('(Glassdoor Est.)','')
df3['Salary'] = df3['Salary'].str.replace('()','')

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_41668\503854067.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df3['Salary'] = df3['Salary'].str.replace('(Employer Est.)','')
C:\Users\Kaveri\AppData\Local\Temp\ipykernel_41668\503854067.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df3['Salary'] = df3['Salary'].str.replace('(Glassdoor Est.)','')
C:\Users\Kaveri\AppData\Local\Temp\ipykernel_41668\503854067.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df3['Salary'] = df3['Salary'].str.replace('()','')

In [121]:
df3['Salary'].value_counts()

5L - 8L ()                    105
2L - 3L ()                     35
4L - 6L ()                     35
2L ()                          35
3L - 5L ()                     35
6L - 14L ()                    35
8L - 18L ()                    35
2L - 7L ()                     35
5L - 15L ()                    35
6L - 15L ()                    35
692.31 - 923.08 Per Hour()     35
7L - 15L ()                    35
10L - 20L ()                   35
2L - 5L ()                     35
2L - 6L ()                     34
5T ()                          34
8L - 35L ()                    34
10L - 50L ()                   34
7T ()                          34
5L - 14L ()                    34
80T ()                         34
10L - 16L ()                   34
15L ()                         34
9T - 18T ()                    33
12T ()                          1
Name: Salary, dtype: int64

In [122]:
df3["salary_period"]=np.nan

In [123]:
import string
df3["Salary"].str.contains("year")
c=df3["Salary"]
i=0
for rows in c:
    
    if(type(rows)==str):
        if (rows.find("L")!=-1):
            df3["salary_period"][i]="year"
        
    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_41668\1838717329.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["salary_period"][i]="year"

In [124]:
df3["Salary"].str.contains("month")
c=df2["Salary"]
i=0
for rows in c:
    
    if(type(rows)==str):
        if (rows.find("T")!=-1):
            df3["salary_period"][i]="month"
    i=i+1

In [125]:
c=df3["Salary"]
i=0
for rows in c:
    
    if(type(rows)==str):
        if (rows.find("Hour")!=-1):
            df3["salary_period"][i]="hour"
    i=i+1

In [126]:
df3["salary_period"].value_counts()

year     729
month    136
hour      35
Name: salary_period, dtype: int64

In [127]:
df3["Average"]=np.nan

In [128]:
df3['Salary2']=df3['Salary']

In [129]:
df3['Salary'] = df3['Salary'].str.replace('L','')
df3['Salary'] = df3['Salary'].str.replace('-','')
df3['Salary'] = df3['Salary'].str.replace('T','')

In [130]:
df3['Salary'].value_counts()

5  8 ()                      105
2  3 ()                       35
4  6 ()                       35
2 ()                          35
3  5 ()                       35
6  14 ()                      35
8  18 ()                      35
2  7 ()                       35
5  15 ()                      35
6  15 ()                      35
692.31  923.08 Per Hour()     35
7  15 ()                      35
10  20 ()                     35
2  5 ()                       35
2  6 ()                       34
5 ()                          34
8  35 ()                      34
10  50 ()                     34
7 ()                          34
5  14 ()                      34
80 ()                         34
10  16 ()                     34
15 ()                         34
9  18 ()                      33
12 ()                          1
Name: Salary, dtype: int64

In [131]:
def avg(a,b):
    return (a+b)/2
c=df3["Salary"]

av=0
a=0
b=0
i=0
for rows in c:
    av=0
    if(type(rows)==str):
        rows=rows.split()
        for item in range(0,len(rows)):
            if(rows[item].isdigit()):
                
                av=av+1
                
    if(av==1):
                
        df3['Average'][i]=rows[0]
            
    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_41668\1617094531.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Average'][i]=rows[0]

In [132]:
def avg(a,b):
    return (a+b)/2
c=df3["Salary"]

av=0
a=0
b=0
i=0
for rows in c:
    if(type(rows)==str):
        rows=rows.split()
        for item in range(0,len(rows)):
            if(rows[item].isdigit() and rows[item+1].isdigit()):
                av=avg(int(rows[0]),int(rows[1]))
                df3["Average"][i]=av
    i=i+1

In [133]:
def avg(a,b):
    return (a+b)/2
c=df3["Salary"]

av=0
a=0
b=0
i=0
for rows in c:
    if(type(rows)==str):
        rows=rows.split()
        if(float(rows[0])==692.31):
            df3['Average'][i]=807.695
    i=i+1

In [134]:
df3["Average"].value_counts()

6.5        105
10.0        70
4.0         69
13.0        69
5.0         35
2           35
2.5         35
4.5         35
3.5         35
10.5        35
807.695     35
11.0        35
15.0        35
15          34
7           34
80          34
9.5         34
30.0        34
21.5        34
5           34
13.5        33
12           1
Name: Average, dtype: int64

In [135]:
df3['Job Description']=df3['Skills']

In [136]:
cleaning_list = ['+','[',']',"'",'"', '$','/',',','?','.',';','-','@','!','&','%','^','*',')','(', '\n']
for item in cleaning_list:
    df3['Job Description'] = df3['Job Description'].str.replace(item, ' ')

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_41668\3706144816.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df3['Job Description'] = df3['Job Description'].str.replace(item, ' ')

In [137]:
df3['Job Description']

0        Job Location Mumbai            Job Descripti...
1        Job Location Bhopal            Job Descripti...
2        Job Location Katha Baddi            Job Desc...
3            At Boeing  we innovate and collaborate t...
4        Our client Successful SA technology group is...
                             ...
895      Job Title:\nData Scientist   Data Science\nJ...
896      About the Role\n\nNumerator is a data and te...
897      Hello    There are job openings for Data Sci...
898      Shape Your Future With Us\nGeneral Re Corpor...
899      A Natural Language Processing  NLP  expert w...
Name: Job Description, Length: 900, dtype: object

In [138]:
exp=[]

In [139]:
def desc(i):
    l = df3["Skills"][i]
    l=str(l)
    p = l.split('\n')
    return p

In [140]:
for i in range(0,900):
    
    p=desc(i)
    for line in p:
        y = re.findall('\d+ .+ [Ee]xperience', line)
        if y!= []:
            exp.append(y)

In [141]:
exp2.shape

(449, 1)

In [142]:
exp2 = pd.DataFrame(exp)

In [143]:
df3['Years of Experience']=exp2

In [144]:
df3['Years of Experience']

0      180 years ago as a simple soap and candle comp...
1      180 years ago as a simple soap and candle comp...
2      180 years ago as a simple soap and candle comp...
3      75 years. People at Boeing have been supportin...
4      5 years of strong, hands-on professional exper...
                             ...
895                                                  NaN
896                                                  NaN
897                                                  NaN
898                                                  NaN
899                                                  NaN
Name: Years of Experience, Length: 900, dtype: object

In [145]:
cleaning_list = ['+','[',']',"'",'"', '$','/',',','?','.',';','-','@','!','&','%','^','*',')','(', '\n']
for item in cleaning_list:
    df3['Years of Experience'] = df3['Years of Experience'].str.replace(item, ' ')

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_41668\4028248349.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df3['Years of Experience'] = df3['Years of Experience'].str.replace(item, ' ')

In [146]:
c=df3['Years of Experience']
i=0
for rows in c:
    if(type(rows)==str):
        rows=rows.lower()
        rows=rows.split()
        a='year'
        b='years'
        c='experience'
        if( (a in rows or b in rows) and c in rows):
            pass
        else:
            df3['Years of Experience'][i]=None
    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_41668\46524393.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Years of Experience'][i]=None

In [147]:
c=df3['Years of Experience']
i=0
d=0
k=[]
for rows in c:
    
    if(type(rows)==str):
        rows=rows.lower()
        rows=rows.split()
        
        a='years'
        c='year'
        b='experience'
        if (a in rows or c in rows) and b in rows:
            for t in range(0,len(rows)):
                if(rows[t].isdigit()):
                    if(int(rows[t])<=20):                
                        if(rows[t+1]=='years' or rows[t+1]=='year' or rows[t-1]=='year' or rows[t-1]=='years'):
                            df3['Years of Experience'][i]=rows[t]
                    else:
                            df3['Years of Experience'][i]=None
            
    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_41668\2373104083.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Years of Experience'][i]=None
C:\Users\Kaveri\AppData\Local\Temp\ipykernel_41668\2373104083.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Years of Experience'][i]=rows[t]

In [148]:
df3['Years of Experience'].isna().sum()

690

In [149]:
df3['Years of Experience'].value_counts()

6    60
1    30
5    30
2    30
3    30
8    30
Name: Years of Experience, dtype: int64

In [150]:
df3['Location']=df3['Job Tocation']

In [151]:
df3['Location'].value_counts()

Mumbai       300
Pune         180
Bangalore     90
Hyderābād     60
India         60
Chennai       30
Gurgaon       30
Ludhiana      30
Remote        30
Delhi         30
Nashik        30
Vadodara      30
Name: Location, dtype: int64

In [162]:
df3['Ratings'].value_counts()

4.2    356
3.8     90
4.2     90
4.1     79
5       60
3.9     60
4.4     45
4.3     30
4.8     30
3.4     30
4.6     15
4       15
Name: Ratings, dtype: int64

In [153]:

c=df3['Ratings']
i=0
s=0
c=0
for i in range(0,len(df3['Ratings'])):
    if(df3['Ratings'][i]!=None and df3['Ratings'][i]!='None' ):
        s=s+float(df3['Ratings'][i])
        c=c+1

In [154]:
s

2279.9000000000015

In [155]:
c

544

In [102]:
avg = s/c

In [103]:
avg

4.190992647058827

In [161]:
c=df3['Ratings']
i=0
s=0
c=0
for i in range(0,len(df3['Ratings'])):
    if(df3['Ratings'][i]==None or df3['Ratings'][i]=='None' ):
        df3['Ratings'][i]=4.2

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_41668\1994662077.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ratings'][i]=4.2

In [163]:
df3['Job Type']=np.nan

In [170]:
df3['Job Title'].value_counts()

Data Scientist                                                            240
Data Science Intern                                                        60
Associate Data Scientist                                                   60
Data scientist                                                             60
Data Science                                                               30
Data Scientist/Machine Learning                                            30
Manager – Data Analytics & Scientific Computing @ L'Oreal, R&I, Mumbai     30
Data Scientist - Data Science                                              30
Associate Data Science Analyst                                             30
Artificial Intelligence Internship                                         30
DATA SCIENTIST                                                             30
Data Analytics                                                             30
Junior Data Scientist Mentor                                               30
Senior Analyst- Research & Insights- Data Science, Data Analyst            30
Experimentation Data Scientist - Chase                                     30
Data scientist - Battery models                                            30
Machine Learning Engineer                                                  30
Data Scientist Intern                                                      30
Junior Data Scientist                                                      30
Sr. Data Scientist, Visa Consulting and Analytics                          30
Name: Job Title, dtype: int64

In [171]:
c=df3["Job Title"]
i=0
for rows in c:
    if(type(rows)==str):
        rows=rows.lower()
        rows=rows.split()
        
        c='intern'
        
        e='internship'
            
        if c in rows or e in rows:
            
            df3["Job Type"][i] = "Part time"
        else:
            df3["Job Type"][i] = "Full time"
    i=i+1

In [172]:
df3['Job Type'].value_counts()

Full time    780
Part time    120
Name: Job Type, dtype: int64

In [198]:
df3=df3.drop(['Skills'],axis=1)

In [182]:
df3=df3.drop([' Links'],axis=1)

Unnamed: 0               0
Company Name             0
Job Title                0
Job Tocation             0
Ratings                  0
 Links                   0
Skills                   1
salary_period            0
Average                  0
Salary2                  0
Job Description          1
Years of Experience    690
Location                 0
Job Type                 0
dtype: int64

In [206]:
df3.isna().sum()

Company Name             0
Job Title                0
Ratings                  0
salary_period            0
Average                  0
Job Description          0
Years of Experience    689
Location                 0
Job Type                 0
dtype: int64

In [188]:
df3=df3.drop(['Unnamed: 0'],axis=1)

In [200]:
c=df3['Job Description']
k=0
i=0
for rows in c:
    if(rows==None):
        print(rows)
    i=i+1

In [204]:
df3['Job Description'][856]

nan

In [205]:
df3.drop([856], axis=0, inplace=True)

In [208]:
df3['Years of Experience']

6    60
1    30
5    30
2    30
3    30
8    30
Name: Years of Experience, dtype: int64

In [209]:
df3['Job Title'].value_counts()

Data Scientist                                                            239
Data Science Intern                                                        60
Associate Data Scientist                                                   60
Data scientist                                                             60
Data Science                                                               30
Data Scientist/Machine Learning                                            30
Manager – Data Analytics & Scientific Computing @ L'Oreal, R&I, Mumbai     30
Data Scientist - Data Science                                              30
Associate Data Science Analyst                                             30
Artificial Intelligence Internship                                         30
DATA SCIENTIST                                                             30
Data Analytics                                                             30
Junior Data Scientist Mentor                                               30
Senior Analyst- Research & Insights- Data Science, Data Analyst            30
Experimentation Data Scientist - Chase                                     30
Data scientist - Battery models                                            30
Machine Learning Engineer                                                  30
Data Scientist Intern                                                      30
Junior Data Scientist                                                      30
Sr. Data Scientist, Visa Consulting and Analytics                          30
Name: Job Title, dtype: int64

In [210]:
df3.to_csv('finalglassdoor1.csv')