In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import numpy as np
import re

In [2]:
df= pd.read_csv('GlassDoor Machine Learnng.csv')

In [6]:
df=df.drop('Unnamed: 0',axis=1)

In [7]:
df2=df
df3=df

In [8]:
df3.replace('None', np.nan)

,Company Name,Job Title,Job Tocation,Salary,Ratings,Links,Description
0,Google,"Pre-Doctoral Researcher, University Graduate (...",Bangalore,₹4L (Employer Est.),4.5,https://www.glassdoor.co.in/partner/jobListing...,"[""To start the application process, you will n..."
1,Procter & Gamble,.Net C# Developer for a Japanese company,Remote,₹21L - ₹22L (Glassdoor Est.),NaN,https://www.glassdoor.co.in/partner/jobListing...,"['About Andaze Japan', 'Our main business is c..."
2,Andaze Japan Ltd.,Data Scientist - IT,Mumbai,₹8T (Employer Est.),4.2,https://www.glassdoor.co.in/partner/jobListing...,"['Job Location', '', 'Mumbai', '', '', 'Job De..."
3,XIRCLS,Machine Learning Engineer,Mumbai,₹7L - ₹15L (Employer Est.),NaN,https://www.glassdoor.co.in/partner/jobListing...,"['This job is for final year students, fresher..."
4,Finarkein Analytics Pvt. Ltd.,Machine Learning Engineer,Pune,₹2L - ₹2L (Employer Est.),NaN,https://www.glassdoor.co.in/partner/jobListing...,['We are looking for a passionate Machine Lear...
...,...,...,...,...,...,...,...
925,SAP,Machine Learning Engineer - Innovation Center ...,Bangalore,₹21L - ₹22L (Glassdoor Est.),NaN,https://www.glassdoor.co.in/partner/jobListing...,['What we offer\nOur company culture is focuse...
926,NeuranceAI Technologies Private Limited,Machine Learning Engineer,Bangalore,₹8T (Employer Est.),4.2,https://www.glassdoor.co.in/partner/jobListing...,"['Eligibility Criteria', '2-5 yrs of proven ex..."
927,Alpha Net Consulting,Data Scientist/Machine Learning,India,₹7L - ₹15L (Employer Est.),NaN,https://www.glassdoor.co.in/partner/jobListing...,"['', 'Data Scientist\nPermanant WFH\nStrong fu..."
928,Predictive Research,"Machine Learning, Data Engineer",Bangalore,₹2L - ₹2L (Employer Est.),3.7,https://www.glassdoor.co.in/partner/jobListing...,['BE/ B tech ( Computer science Only no other ...
929,INKRONIX,Machine Learning Intern,New Delhi,₹2L - ₹2L (Employer Est.),NaN,https://www.glassdoor.co.in/partner/jobListing...,['We are hiring interns for machine learning. ...

In [9]:
df3 = df3.dropna(subset=['Job Title'])

In [10]:
df3=df3.drop_duplicates()

In [11]:
df3.shape

(930, 7)

In [12]:
df3['Salary'].value_counts()

₹2L - ₹3L (Employer Est.)       70
₹4L (Employer Est.)             69
₹2L - ₹2L (Employer Est.)       38
₹7L - ₹15L (Employer Est.)      37
₹11L - ₹12L (Glassdoor Est.)    36
₹12L - ₹30L (Employer Est.)     36
₹15T - ₹20T (Employer Est.)     36
₹7L - ₹15L (Glassdoor Est.)     36
₹2L - ₹3L (Glassdoor Est.)      36
₹8T (Employer Est.)             35
₹21L - ₹22L (Glassdoor Est.)    35
₹6L - ₹8L (Employer Est.)       34
₹10T (Employer Est.)            34
₹10L - ₹50L (Employer Est.)     34
₹6L (Employer Est.)             34
₹15T - ₹30T (Employer Est.)     34
₹6L - ₹13L (Glassdoor Est.)     34
₹7L - ₹8L (Employer Est.)       34
₹4L - ₹16L (Employer Est.)      34
₹1L (Employer Est.)             34
₹15L - ₹30L (Employer Est.)     34
₹6L - ₹17L (Glassdoor Est.)     34
₹8L - ₹12L (Employer Est.)      34
₹26T - ₹61T (Employer Est.)     34
₹19L - ₹22L (Glassdoor Est.)     2
₹12T - ₹15T (Employer Est.)      2
₹4L - ₹5L (Glassdoor Est.)       2
₹24L - ₹28L (Glassdoor Est.)     2
₹5L - ₹7L (Glassdoor Est.)       2
₹11L - ₹34L (Glassdoor Est.)     2
₹14L - ₹22L (Glassdoor Est.)     2
₹4L - ₹26L (Glassdoor Est.)      2
₹20L - ₹25L (Glassdoor Est.)     2
₹8L - ₹19L (Glassdoor Est.)      2
₹1T - ₹2T (Employer Est.)        2
₹9L - ₹15L (Glassdoor Est.)      2
Name: Salary, dtype: int64

In [13]:
df3['Salary'] = df3['Salary'].str.replace('\n', '')
df3['Salary'] = df3['Salary'].str.replace(',', '')
df3['Salary'] = df3['Salary'].str.replace('₹','')
df3['Salary'] = df3['Salary'].str.replace('(Employer Est.)','')
df3['Salary'] = df3['Salary'].str.replace('(Glassdoor Est.)','')
df3['Salary'] = df3['Salary'].str.replace('()','')

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_15532\503854067.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df3['Salary'] = df3['Salary'].str.replace('(Employer Est.)','')
C:\Users\Kaveri\AppData\Local\Temp\ipykernel_15532\503854067.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df3['Salary'] = df3['Salary'].str.replace('(Glassdoor Est.)','')
C:\Users\Kaveri\AppData\Local\Temp\ipykernel_15532\503854067.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df3['Salary'] = df3['Salary'].str.replace('()','')

In [14]:
df3['Salary'].value_counts()

2L - 3L ()      106
7L - 15L ()      73
4L ()            69
2L - 2L ()       38
11L - 12L ()     36
12L - 30L ()     36
15T - 20T ()     36
8T ()            35
21L - 22L ()     35
7L - 8L ()       34
10T ()           34
10L - 50L ()     34
6L ()            34
15T - 30T ()     34
6L - 8L ()       34
6L - 13L ()      34
26T - 61T ()     34
1L ()            34
15L - 30L ()     34
6L - 17L ()      34
8L - 12L ()      34
4L - 16L ()      34
19L - 22L ()      2
12T - 15T ()      2
4L - 5L ()        2
24L - 28L ()      2
5L - 7L ()        2
20L - 25L ()      2
14L - 22L ()      2
4L - 26L ()       2
11L - 34L ()      2
8L - 19L ()       2
1T - 2T ()        2
9L - 15L ()       2
Name: Salary, dtype: int64

In [15]:
df3["salary_period"]=np.nan

In [16]:
import string
df3["Salary"].str.contains("year")
c=df3["Salary"]
i=0
for rows in c:
    
    if(type(rows)==str):
        if (rows.find("L")!=-1):
            df3["salary_period"][i]="year"
        
    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_15532\1838717329.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["salary_period"][i]="year"

In [17]:
df3["Salary"].str.contains("month")
c=df2["Salary"]
i=0
for rows in c:
    
    if(type(rows)==str):
        if (rows.find("T")!=-1):
            df3["salary_period"][i]="month"
    i=i+1

In [18]:
df3["salary_period"].value_counts()

year     753
month    177
Name: salary_period, dtype: int64

In [19]:
df3["Average"]=np.nan

In [20]:
df3['Salary2']=df3['Salary']

In [21]:
df3['Salary'] = df3['Salary'].str.replace('L','')
df3['Salary'] = df3['Salary'].str.replace('-','')
df3['Salary'] = df3['Salary'].str.replace('T','')

In [22]:
df3['Salary'].value_counts()

2  3 ()      106
7  15 ()      73
4 ()          69
15  30 ()     68
2  2 ()       38
11  12 ()     36
12  30 ()     36
15  20 ()     36
8 ()          35
21  22 ()     35
7  8 ()       34
10 ()         34
10  50 ()     34
6 ()          34
6  13 ()      34
6  8 ()       34
26  61 ()     34
1 ()          34
6  17 ()      34
8  12 ()      34
4  16 ()      34
19  22 ()      2
12  15 ()      2
4  5 ()        2
24  28 ()      2
5  7 ()        2
20  25 ()      2
14  22 ()      2
4  26 ()       2
11  34 ()      2
8  19 ()       2
1  2 ()        2
9  15 ()       2
Name: Salary, dtype: int64

In [23]:
def avg(a,b):
    return (a+b)/2
c=df3["Salary"]

av=0
a=0
b=0
i=0
for rows in c:
    av=0
    if(type(rows)==str):
        rows=rows.split()
        for item in range(0,len(rows)):
            if(rows[item].isdigit()):
                
                av=av+1
                
    if(av==1):
                
        df3['Average'][i]=rows[0]
            
    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_15532\1617094531.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Average'][i]=rows[0]

In [24]:
def avg(a,b):
    return (a+b)/2
c=df3["Salary"]

av=0
a=0
b=0
i=0
for rows in c:
    if(type(rows)==str):
        rows=rows.split()
        for item in range(0,len(rows)):
            if(rows[item].isdigit() and rows[item+1].isdigit()):
                av=avg(int(rows[0]),int(rows[1]))
                df3["Average"][i]=av
    i=i+1

In [25]:
df3["Average"].value_counts()

2.5     106
11.0     73
22.5     72
11.5     70
4        69
10.0     68
2.0      38
21.0     36
17.5     36
8        35
21.5     35
9.5      34
10       34
30.0     34
6        34
7.0      34
7.5      34
43.5     34
1        34
13.5      4
1.5       2
15.0      2
18.0      2
20.5      2
6.0       2
26.0      2
4.5       2
12.0      2
Name: Average, dtype: int64

In [30]:
df3['Job Description']=df3[' Description']

In [31]:
cleaning_list = ['+','[',']',"'",'"', '$','/',',','?','.',';','-','@','!','&','%','^','*',')','(', '\n']
for item in cleaning_list:
    df3['Job Description'] = df3['Job Description'].str.replace(item, ' ')

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_15532\3706144816.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df3['Job Description'] = df3['Job Description'].str.replace(item, ' ')

In [74]:
exp=[]

In [75]:
def desc(i):
    l = df3["Job Description"][i]
    l=str(l)
    p = l.split('\n')
    return p

In [76]:
for i in range(0,930):
    
    p=desc(i)
    for line in p:
        y = re.findall('\d+ [Yy]ears', line)
        if y!= []:
            exp.append(y)

In [88]:
exp2 = pd.DataFrame(exp)

In [89]:
exp

[['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['180 years'],
 ['2 Years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['1 Years'],
 ['5 years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years'],
 ['2 Years'],
 ['180 years'],
 ['6 years'],
 ['3 years'],
 ['1 years'],
 ['5 years'],
 ['1 Years'],
 ['2 years'],
 ['2 years', '3 years'],
 ['4 years'],
 ['3 years'],
 ['3 years'],
 ['2 years', '2 years']]

In [103]:
exp2.shape

(402, 1)

In [102]:
exp2=exp2.drop(1,axis=1)

In [81]:
cleaning_list = ['+','[',']',"'",'"', '$','/',',','?','.',';','-','@','!','&','%','^','*',')','(', '\n']
for item in cleaning_list:
    exp2[0] = exp2[0].str.replace(item, ' ')

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_15532\4236643827.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exp2[0] = exp2[0].str.replace(item, ' ')

In [104]:
df3['Years of Experience']=exp2

In [112]:
c=df3['Years of Experience']
i=0
for rows in c:
    if(type(rows)==str):
        rows=rows.lower()
        rows=rows.split()
        if(int(rows[0])<20):
            df3['Years of Experience'][i]=int(rows[0])
        else:
            df3['Years of Experience'][i]=None
        
    i=i+1

In [113]:
df3['Years of Experience'].value_counts()

2    123
3     93
1     62
6     31
5     31
4     31
Name: Years of Experience, dtype: int64

In [120]:
df3.isna().sum()

Company Name             0
Job Title                0
Job Tocation             0
Salary                   0
Ratings                  0
 Links                   0
 Description             1
salary_period            0
Average                  0
Salary2                  0
Job Description          1
Years of Experience    559
Location                 0
dtype: int64

In [115]:
df3.shape

(930, 12)

In [116]:
df3['Location']=df3['Job Tocation']

In [117]:
df3['Location'].value_counts()

Bangalore       308
Pune            156
Mumbai           94
India            94
Remote           92
New Delhi        62
Hyderābād        60
Mohali           30
Kālkāji Devi     30
Ahmedabad         1
Noida             1
Chennai           1
Cochin            1
Name: Location, dtype: int64

In [118]:
c=df3['Location']

i=0

for rows in c:
    if(rows=='India' or rows== 'Remote' ):
        df.drop(i,inplace=True)
        
    
        
    i=i+1

In [119]:
df3.shape

(930, 13)

In [121]:
c=df3['Job Description']

i=0

for rows in c:
    if(type(rows)==float ):
        df.drop(i,inplace=True)
        
    
        
    i=i+1

In [126]:

df3=df3.drop(' Links',axis=1)
df3=df3.drop(' Description',axis=1)
df3=df3.drop('Salary2',axis=1)

In [133]:
df3.to_csv('glass6.csv')

In [129]:
df3['Job Type']=np.nan

In [132]:
df3['Job Type'].value_counts()

Full time    868
Part Time     62
Name: Job Type, dtype: int64

In [131]:
c=df3["Job Title"]
i=0
for rows in c:
    if(type(rows)==str):
        
        rows=rows.split()
        
        
        
        e='Intern'
            
        if e in rows:
            
            df3["Job Type"][i] = "Part Time"
        else:
            df3["Job Type"][i] = "Full time"
    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_15532\2983545084.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Job Type"][i] = "Full time"